
 body {
     padding-top: 60px;
     padding-bottom: 40px;
 }

.sidebar-nav {
    padding: 9px 0;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
}

.radio{
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

 #sunday, #afterTime{
     color: darkred;
 }

 #to_pay{
    color: darkred;
 }

 table,th,td,tr{
     border: 1px solid;
 }

.user_info_table{
  padding-left: 25%;
  width: 50%;

}

 input[type=radio] {
     width: 20px;
     height: 20px;
 }

 thead{
     font-size: 12px;
     font-weight: bolder;
 }

 tbody{
     font-size: 12px;
 }

 #hours
 {
     font-weight: bold;
 }

 .hero-unit
 {
     font-size: 14.5px;

 }
